.deadline {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .square {
    width: 8px;
    height: 8px;
    margin-top: 4px;
    border-radius: 100px;
    background-color: #ff6d4a;
  }

  .item {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .date {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #484848;
    }
  
    .info {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #acacac;
    }
  }
}