{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": ["flowtype", "react", "prettier", "standard"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "curly": ["error", "all"],
    "singleQuote": true,
    "react/no-render-return-value": 0,
    "react/no-deprecated": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "no-useless-constructor": 0
  }
}