.detail {
  display: flex;
  flex-direction: row;
  height: 100%;

  .detail__sidebar {
    flex: 0;
    height: 100%;
    width: 200px;
    min-width: 200px;
    border: 1px solid red;
    padding: 16px;
  }

  .detail__contents {
    flex: 1;
    height: 100%;
    border: 1px solid blue;
    padding: 16px;

    .detail__contents--mode {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      margin-bottom: 8px;
    }

    .detail__contents--header {
      .detail__contents--title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
      }

      .detail__contents--subtitle {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
}
