.detail__contents--hashtag {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 24px;
}

.detail__contents--question {
  width: 100%;
  // height: 150px;
  padding: 16px;
  margin-bottom: 8px;
  background-color: teal;

  .quiestion__title {
    font-weight: bold;
  }
}

.detail__contents--answer {
  display: flex;
  flex-direction: column;
  border: 1px solid darkorchid;

  .answer__header {
    flex: 0;
    display: flex;
    justify-content: space-between;
    height: 40px;

    .answer__header--action {
      display: flex;
      width: 200px;
    }
  }

  .answer__contents {
  }
}
