

.detail__contents--question {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);

  .question__title {
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    color: #364eda;
  }

  .hashtag {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.detail__contents--answer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);

  .answer__header {
    flex: 0;
    display: flex;
    justify-content: space-between;
    height: 40px;

    .answer__header--title {
      margin: 0px;
      font-size: 14px;
      font-weight: normal;
      color: #364eda;
    }

    .answer__header--action {
      display: flex;
      width: 200px;
    }
  }

  .answer__contents {
  }
}
