.header__logo {
  height: 50px;
  width: 100%;
  margin: 24px 0px;

  .header__logo--box {
    height: 100%;
    width: 80px;
    background-color: #d0d0d0;
    border-radius: 8px;
  }
}

.header__button {
  width: 100%;
  margin-bottom: 24px;

  > button {
    width: 100%;
  }
}

.header__menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
  }
}

.header__info {
  flex: 0;
}
