.account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.card {
  width: 720px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
  border-radius: 0;
}

.titlebox {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 32px 32px;
  
  .title {
    font-size: 24px;
    color: #222222;
  }
}


.account {
  font-size: 14px;
  text-align: center;
  margin: 14px 32px;
  font-weight: normal;
}

.form {
  display: flex;
  margin: 8px 75px; 
  background-color: #f7fafe;

  .input {
    width: 100%;
    height: 56px;
    background-color: transparent;
    padding: 24px 18px;
    color: #222222;
    font-size: 14px;
    border: 0;
    letter-spacing: -0.7;
  }
  
  .label {
    display: flex;
    align-items: center;
    width: 150px;
    height: 56px;
    
    > label {
      margin-left: 24px;
      color: #5e77ff;
      font-Size: 14px;
      font-Weight: bold;
    }
  }
}
