.resumes__contents--search {
  height: 180px;
  box-shadow: 0 0 1px 0 #dde5fc;
  background-color: #ffffff;
  border: solid 1px #f5f4f5;

  .detail {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 24px 50px;

    input {
      width: 100%;
      margin-right: 8px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .search__input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 32px 50px 32px 50px;

    .search__change {
      display: flex;
      align-items: center;
  
      .search__change--menus {
        z-index: 9999;
        top: 80px;
      }
    }

    .search__input--right {
      display: flex;
      flex-direction: row;
    }
  }

}

.resumes__search {
  display: flex;
  flex-direction: row;
  height: 100%;

  .resumes__contents {
    flex: 1;
    height: 100%;
    
  }
}
