.sidebar {
  flex: 0;
  height: 100%;
  width: 200px;
  min-width: 200px;
  border: 1px solid red;
  padding: 16px;

  .sidebar__active {
    color: chartreuse;
    font-weight: bold;
  }

  .sidebar__children {
    color: #777777;
  }
  .sidebar__children--active {
    color: salmon;
  }
}
