.loader__container {
  z-index: 9999;
  position: absolute;
  height: 100%;
  width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffc4;
}
