.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}
.error__message {
  width: 100%;
  margin: 8px 0px;
  margin-left: 32px;
  text-align: left;
  font-size: 12px;
  color: #f1552f;
}
